if ARCH_LX2160A

config SYS_BOARD
	default "lx2160a"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

if TARGET_LX2160ARDB
config SYS_CONFIG_NAME
	default "lx2160ardb"

config QSFP_EEPROM
        bool "Support for reading QSFP+ transceiver eeprom"
        default y if PHY_CORTINA
        help
         This option enables the functionality for reading
         QSFP+ cable eeprom. It can be used when PHYs are
         requiring different initialization based on cable
         type.
endif

if TARGET_LX2160ACEX7
config SYS_CONFIG_NAME
	default "lx2160acex7"
endif

if TARGET_LX2160AQDS
config SYS_CONFIG_NAME
	default "lx2160aqds"
endif

source "board/freescale/common/Kconfig"
endif
